<h1>Restaurants List</h1>
<%= link_to '+', new_restaurant_path %>
<% @restaurants.each do |restaurant| %>
  <ul>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      <%= link_to 'edit', edit_restaurant_path(restaurant) %>
    </li>
  </ul>
<% end %>
